:root {
    --main: rgb(77, 1, 255);
    --dark: rgb(44, 0, 148);
    --light: rgb(171, 136, 255);
}

html{
    font-size: 62.7%;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h3{
    font-family: inherit;
    font-size: 1.8rem;
    color: var(--dark);
    margin: 1.2rem 0;
}

input{
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    border-bottom: 1px solid var(--light);
    padding: .7rem .2rem;
    margin: 1rem;
    color: black;
}

textarea{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    font-size: 1.6rem;
    font-weight: 300;
    padding: 10px 10px;
    margin: 0;
    color: white;
    overflow-y: scroll;
    width: 95%;
    height: 150px;
}

button{
    outline: none;
    border: 1px solid rgb(77, 1, 255);
    color:rgb(77, 1, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    transition: 1s ease;
    padding: 3px 6px;
    margin: 0 1rem 1rem 0;
}
button:hover{
    background-color: rgb(236, 227, 255);
}

.coords-container{
    margin: 1rem;
    width: 100%;
    height: 180px;
}

.coords-btn-container {
    display: flex;
}

.copyCoords{
    cursor: pointer;
    position: relative;
    margin: 0;
    width: 30px;
    height: 30px;
}

.copyLength{
    cursor: pointer;
}

.faded{
    color: rgb(148, 148, 148);
    cursor: pointer;
}

#section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: flex-start;
    justify-content: space-between;
}

#canvas{
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.719);
    margin: 50px;
    width: 60%;
}

#right-column{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#add-btns-container{
    padding: 10px;
    height: 8%;
}

#layers-container{
    width: 100%;
    height: 92%;
    overflow-y: scroll;
    padding: 0px 10px;
}

.layer{
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.719);
    padding: 15px 10px;
    margin: 10px 5px;
    border-radius: 5px;
}

.remove{
    background-color: rgb(255, 219, 219);
    color: red;
    border: 1px solid red;
}

.draw{
    animation: daw 6s linear 0s 1 forwards;
}
@keyframes draw {
    0%{
        stroke-dashoffset: 2260.47705078125;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

